# Global parameter defaults
path: wp
url: https://monsite.com

# Login BO WordPress
user: beapi
color: false

# Disable dangerous commands \o/
disabled_commands:
  - db drop
  - db reset

# Aliases to other WordPress installs (e.g. `wp @staging rewrite flush`)
# An alias can include 'user', 'url', 'path', 'ssh', or 'http'
@prod:
    ssh: prod@monsite.com:2222
    user: prod
    path: /var/www/public_html/
@preprod:
    ssh: preprod@monsite.com:2222
    user: preprod
    path: /var/www/public_html/
@contrib:
    ssh: monsite.beapi.sience@monsite.beapi.science
    user: monsite.beapi.science
    path: /home/monsite.beapi.science/public_html/
@qualif:
    ssh: monsite.beapi.xyz@monsite.beapi.xyz
    user: monsite.beapi.xyz
    path: /home/monsite.beapi.xyz/public_html/
@dev:
    ssh: monsite.beapi.space@monsite.beapi.space
    user: monsite.beapi.space
    path: /home/monsite.beapi.space/public_html/
@beapi:
 - @dev
 - @qualif
 - @contrib
@client:
 - @preprod
 - @prod
@all:
 - @beapi
 - @client